
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

body{
    background-color: black;
    color: white;
}

.left{
    width:  25vw;
    padding: 10px;

}

.right{
    width: 75vw;
}

.home ul li{
    width: 20px;
    gap: 15px;
    list-style: none;
    display: flex;
    padding: 14px;
}

.home ul{
    gap: 20px;
} 


.home{
    /* padding: 9px; */
    margin: 3px;
    gap: 40px;
}

.home .logo img{
    width: 25px;
}

.library{
    min-height: 50vh;
    position: relative;
}


.heading{
    width: 130px;
    gap: 14px;
    list-style: none;
    display: flex;
    padding: 15px;
    align-items: center;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    color: grey;
    gap: 13px;
    height: 20vh;
    position: absolute;
    bottom: 0;
    align-items: end;
    align-content: flex-end;
    padding: 10px;
}

.footer a{
    text-decoration: none;
    color: grey;
    
}

.right{
    margin: 15px 0;
}

.header{
    display: flex;
    justify-content:  space-between;
    background-color: #201f1f;
}

.header > *{
    padding: 20px;
}

.spotifyPlaylist{
    padding: 16px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card{
    width:  200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #201f1f;
    position: relative;
}

.card > *{
    padding-top: 3px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card p{
    
    font-size: 13px;
    font-weight: 400;
}

.play{
    position: absolute;
    right: 20px;
    bottom: 76px;
    background-color: #1ed760;
    border-radius: 50%;
    width: 48px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 8px rgba(0,0,0,0.3);
    opacity: 0;
    transform: translateY(8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .play{
    opacity: 1;
    transform: translateY(0);
}

.play svg{
    fill: black;
    stroke: black;
    width: 20px;
    height: 20px;
}

button > *{
    margin: 0 12px; /*top and bottom 0 and the left  and right 12px */
}

.signupbtn{
    background-color:  #201f1f;
    color: rgb(122, 120, 120);
    font-weight: bold;
    border: none;
    outline:  none;
    cursor: pointer;
}

.signupbtn:hover{
    font-size: 1rem;
    color:  white;
}

.loginbtn{
    background-color: white;
    border-radius: 40px;
    color: black;
    padding: 10px;
    width: 70px;
    cursor: pointer;
}

.loginbtn:hover{
    background-color: white;
    border-radius:  21px;
    color: black;
    font-weight: bold;
    width: 80px;
    cursor: pointer;
}